<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Curso AngularJS - CISS</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/myApp.js"></script>
	<script type="text/javascript" src="js/controller/formCtrl.js"></script>
</head>
<body ng-controller=FormCtrl>
	<div class="container">
		<div class="jumbotron">
			<h1 ng-bind="Cadastro de tarefas">Cadastro de tarefas</h1>
			<form id="form">
				<div class="row">
				  	<div class="form-group col-xs-12">
					    <label for="task">Tarefa</label>
					    <input type="text" class="form-control" ng-model="task" id="task">
				  	</div>
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary pull-right" ng-click="cadastrarTarefa(task)">Cadastrar</button>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12">
						<label for="search">Buscar</label>
					    <input type="text" class="form-control" ng-model="search" id="search">
					</div>
					<table class="table">
						<thead>
							<tr>
								<th>Check</th>
								<th>Tarefa</th>
								<th>Data</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in list | filter:search">
								<td><input type="checkbox"></input></td>
								<td ng-bind="item.nomeTarefa"></td>
								<td ng-bind="item.dataTarefa | date:'dd/MM/yyyy'"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>		
		</div>
	</div>
</body>
</html>