<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Curso AngularJS - CISS</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/myApp.js"></script>
	<script type="text/javascript" src="js/controller/formCtrl.js"></script>
</head>
<body ng-controller=FormCtrl>
	<div class="container">
		<div class="jumbotron">
			<h1 ng-bind="Cadastro de tarefas">Cadastro de tarefas</h1>
			<form id="form">
				<div class="row">
				  	<div class="form-group col-xs-12">
					    <label for="task">Tarefa</label>
					    <input type="text" class="form-control" ng-model="task" id="task">
				  	</div>
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary pull-right" ng-click="cadastrarTarefa(task)">Adicionar</button>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12">
						<label for="search">Buscar</label>
					    <input type="text" class="form-control" ng-model="search" id="search">
					</div>
					<table class="table">
						<thead>
							<tr>
								<th>Check</th>
								<th>Tarefa</th>
								<th>Data</th>
								<th>Opções</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in list | filter:search">
								<td><input type="checkbox"></input></td>
								<td ng-bind="item.nomeTarefa"></td>
								<td ng-bind="item.dataTarefa | date:'dd/MM/yyyy'"></td>
								<td>
									<button class="btn btn-success" ng-click="editarTarefa($index)">
										<i class="glyphicon glyphicon-pencil"></i>
									</button>
									<!--
									<button class="btn btn-danger" ng-click="">
										<i class="glyphicon glyphicon-trash"></i>
									</button>
									-->
								</td>
							</tr>
						</tbody>
					</table>
					<div class="row" ng-show="clicouEditar">
					  	<div class="form-group col-xs-8">
						    <input type="text" class="form-control" ng-model="renomear">
					  	</div>
						<div class="col-xs-4">
							<button type="submit" class="btn btn-primary pull-right" ng-click="renomearTarefa(renomear)">Renomear</button>
						</div>
					</div>
				</div>
			</form>		
		</div>
	</div>
</body>
</html>